.container{
  background-color: #2e2e2e;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logoContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero{
  max-width: 480px;
  object-fit: contain;
  height: auto;
  width: auto;
}
.title{
  font-size: 2rem;
  margin: 1rem 0;
  color: #f0f8ff;
  line-height: 150%;
  text-align: center;
}

.infoContent{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.box{
  background-color: #f0f8ff;
  padding: 14px 44px;
  border-radius: 10px;
  transition: transform 0.4s;
}
.box:hover{
  transform: scale(1.08);
}

@media screen and (max-width: 580px){
  .container{
    padding: 0 1rem;
  }
  .hero{
    max-width: 80%;
  }
  .title{
    font-size: 1.5rem;
  }
  .infoContent{
    flex-direction: column;
    gap: 2rem;
  }
  .box{
    font-size: 1.2rem;
    padding: 12px 22px;
    text-align: center;
    width: 90%;
    font-family: "Relaway", sans-serif;
    font-weight: 400;
  }
  
}